

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background-color: #eceef1;
  }
  
  button {
    font-family:  Arial, sans-serif;
    background: #326891;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 8px 5px 8px 5px;
  }

/* Our code */

 
nav {
  position: fixed;
  width:100%;
  top:0;
  padding: 0;
  z-index:1;
  background:gainsboro;
  height: 60px;
  border-bottom:1px solid blueviolet; 
}

nav div ul.left {
  display: flex;
  padding: 12px;
 

}

.center {
  position: absolute;
  right: 45%;
  top: 0;
  margin-top: 11px;
}

.right_nav {
  right: 35px;
    display: flex;
    bottom: 10px;
    position: absolute;

}

.fa-search {
  margin-left: 14px;
}

header div ul li h3 {
  margin-left: 14px;
  font-size: 15px;
}


.heading {
  margin-top: 90px;
  text-align: center;
  font-style: italic;
}
.first-p {
    width:1200px;
    margin: auto;
    text-align: justify;
    margin-bottom:60px;
}

.first_img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.figcaption{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social {
  margin: 0 auto;
  width: 60%;
}

main .socialbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cambridge {
      width: 60%;
      margin: 0 auto;
      margin-top: 20px;
}
